
.formregister{

    display: flex;
    margin: 24px auto ;
    width: 806px;
    border-radius: 4px;
}
.formregisterimg{
    width: 403px;
    background-color: #fff;
    height: 605px;
    display: flex;
    flex-direction: column;
}
.formhead{
    display: flex;
    justify-content: center;
    margin: 16px;
    font-weight: 500;
}
.formunhead{
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 400;
}
.formheadbtn{
    display: flex;
    margin: 16px;
}
.or {
    display: flex;
    justify-content: center;
    margin: 8px;
    font-size: 14px;
    font-weight: 400;
}
.formbtnfb{
    border: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-color: #3f51b5;
    color: #fff;
}
.formbtngg,
.formbtnfb:hover {
    cursor: pointer;
}
.formbtngg{
    border: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-color: #f44336;
    color: #fff;
    margin-left: 8px;
}
.formicon{
    margin: 0;
    margin-left: 8px ;
}
.forminput{
    display: flex;
    flex-direction: column;
}
.input {
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
}
.footerbtn {
    padding: 8px;
    border: none;
    color: #ccc;
    width: 95%;
    font-size: 18px;
    border-radius: 4px;
    background-color: #f5f5f5;
}
.footer_text {
    display: flex;
    justify-content: center;
    font-size:14px;
    font-weight: 400
}
.footerbtnacsess {
    font-size: 18px;
    padding: 8px;
    border: none;
    color: #0d47a1;
    width: 95%;
    border-radius: 4px;
    background-color: #e3f2fd;
}
.footerbtnacsess:hover {
    cursor: pointer;
    background-color: #b0c9e7;
}
.times {
    display: flex;
    padding: 4px;
    position: fixed;
    top: 35px;
    right: 245px;
}
.times:hover {
    background-color: #efefef;
    cursor: pointer;
    border-radius: 50%;
}
.paragraph_head {
   
    text-align: center;
}